In [1]:
import pandas as pd
import numpy as np

In [2]:
#mostrar los n primeros 
df = pd.Series(np.arange (1,51))
print (df.head(6))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [3]:
#mostrar los m ultimos
print (df.tail(4))

46    47
47    48
48    49
49    50
dtype: int32

In [5]:
#regresa los valores guardados en el dataframe
print (df.values)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]

In [10]:
#agrupar el dataframe según alguna condición
world_cup = {'Team':['Argentina','Brasil','France','Croatia','Morocco','Brasil','Argentina','Argentina'],'Rank':[2,1,3,4,5,1,7,1]}
df=pd.DataFrame(world_cup)
print(df.groupby(['Team']).groups)

{'Argentina': [0, 6, 7], 'Brasil': [1, 5], 'Croatia': [3], 'France': [2], 'Morocco': [4]}

In [17]:
#combinar estructuras
basket = {'Team':['USA','Argentina','Spain','Brasil'],'Rank':[1,2,3,4]}
df_basket = pd.DataFrame(basket)

In [18]:
#combinar en filas
print(pd.concat([df,df_basket],axis=0))

        Team  Rank
0  Argentina     2
1     Brasil     1
2     France     3
3    Croatia     4
4    Morocco     5
5     Brasil     1
6  Argentina     7
7  Argentina     1
0        USA     1
1  Argentina     2
2      Spain     3
3     Brasil     4

In [19]:
#combinar en columnas
print(pd.concat([df,df_basket],axis=1))

        Team  Rank       Team  Rank
0  Argentina     2        USA   1.0
1     Brasil     1  Argentina   2.0
2     France     3      Spain   3.0
3    Croatia     4     Brasil   4.0
4    Morocco     5        NaN   NaN
5     Brasil     1        NaN   NaN
6  Argentina     7        NaN   NaN
7  Argentina     1        NaN   NaN

In [20]:
#hacer una unión de dos dataframes
print(pd.merge(df,df_basket,on='Team'))

        Team  Rank_x  Rank_y
0  Argentina       2       2
1  Argentina       7       2
2  Argentina       1       2
3     Brasil       1       4
4     Brasil       1       4